<!-- Web Application Development
    Assignment 1
    HTML
    Author: Binet Sheriff
    Student# 301253726 -->

    <%-include ("partials/header.ejs")%><%-include ("partials/main_nav.ejs")%>

    <!-- Main content -->
    <main class="home-container">
      <div class="home-welcome">
        <div class="text-box">
          <h1 class="hello">HELLO, I'M BINET</h1>
          <!-- <h1 class="im-binny"></h1> -->
          <!-- <h1 class="description-binny"></h1> -->
          <h2 class="mission-binny">
            A web developer that strives to combine machine learning to design &
            code
          </h2>
          <p class="about-binny"><a href="/about">Read More</a></p>
        </div>
      </div>
    </main>
    
    <%-include ("partials/bottom_nav.ejs")%><%-include ("partials/footer.ejs")%>  